<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap= "http://phonegap.com/ns/1.0"
	id= "Q92WW3S2GC.br.com.wunderman.vivo.portifoliodigital"
	version= "0.0.2">

	<name>Portfólio Digital Telefônica Vivo</name>

	<description>
		A Telefônica Vivo é pioneira em soluções integradas, com o maior portfólio de produtos e serviços, a maior cobertura e melhor sinal, para empresas de qualquer tamanho e perfil.
		Este aplicativo contém o nosso portfólio digital com detalhamento de todas as soluções de de voz, dados, TI e móveis, e é destinado aos nossos Gerentes de Negócio.
	</description>

	<author href="https://github.com/fernandimmd"
			email="fernandim@gmail.com">
	</author>

	<gap:platforms>
		<gap:platform name="android" minVersion="2.1" />
		<gap:platform name="webos" />
		<gap:platform name="ios" />
		<gap:platform name="blackberry" project="widgets"/>
	</gap:platforms>

	<feature name="http://api.phonegap.com/1.0/network"/>
	
	<access origin=".*" />

	<!-- sample preference specification 
	<preference name="orientation" value="landscape" />
	<preference name="target-device" value="tablet" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="false" />
	
	<icon src="img/icon50.jpg" width="50" height="50" />
	<icon src="img/icon57.jpg" width="57" height="57" />
	<icon src="img/icon72.jpg" width="72" height="72" />
	<icon src="img/icon114.jpg" width="114" height="114" />
	
	<gap:splash src="img/splash.png" width="1024" height="1024" />-->
</widget>